@font-face {
  font-family: 'Inter Light';
  src: url('/public/fonts/inter/Inter-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter Regular';
  src: url('/public/fonts/inter/Inter-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter Bold';
  src: url('/public/fonts/inter/Inter-Bold.ttf') format('truetype');
}
