.navbar-base {
  background-color: $base-color;
  font-family: "Inter Light", sans-serif;
  height: 10vh;

  .card-body{
    .card-title{
      font-weight: bolder !important;
      color: $base-color;
    }
    a{
      color: $accent !important;
    }
    
  }
  



  .navbar-brand {
    img {
      width: 70px;
    }
  }

  .nav-item {
    a {
      color: $accent;
      font-size: 16px;
      transition: color 0.2s;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        background: $accent;
        width: 0%;
        height: 2px;
        bottom: 0.35rem;
        left: 50%;
        right: 50%;
        transition: 0.3s;
        transform: translateX(-50%);
      }

      &:hover {
        // color: #fefefec7;
        color: $secondary;

        &::before {
          width: 2rem;
        }
      }
    }

    .nav-link {
      display: flex;
      align-items: center;
      gap: 5px;
    }

    .dropdown-toggle {
      &.show {
        color: #ffffffbd;

        &::before {
          width: 2rem;
        }
      }
    }

    .dropdown-menu {
      a {
        color: $base-color;
        // font-size: 14px;
        position: relative;

        &:hover {
          // color: $secondary;
        }
      }
    }
  }
}
