// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$base-color: #BD1A8D;

$primary: $base-color;
$soft-primary: #F9D2ED;
$secondary: #2B2D42;
$accent: #FDFFFC;
$disabled: #E5E5E5;
$green: #008000;
$soft-green: #6EDE8A;
