// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');
@import 'base/fonts';

// Variables
@import 'base/variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.css';

// Language
@import 'base/lang';

// Auth
@import 'base/auth';

// Navbar
@import 'base/nav';

// Controllers styling
@import 'dog';
@import 'role';

// Ini untuk responsive custom styling
@import 'base/responsives';

main {
  min-height: 85vh;
}

footer {
  background-color: $base-color;
  height: 5vh;
}

.main-card {
  border: 1px solid rgba(0, 0, 0, 0.175);
  border-radius: 0.375rem;
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
  margin-bottom: 24px;
  padding: 16px;
  
  .filter-search {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
  }
}


.btn-mps {
  background-color: $primary;
  color: #fff;

  &:hover {
    background-color: $secondary;
    color: $soft-primary;
  }
}
