// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');
@import 'base/fonts';

// Variables
@import 'base/variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.css';

// Toastr
@import 'toastr';
#toast-container {
  & > .toast {
    background-image: none !important; position: relative;
    &:before {
      font-family: FontAwesome; font-size: 24px; line-height: 18px; color: #FFF;
      position: absolute; top: 45%; left: 15px; transform: translateY(-50%);
    } 
    &.toast-warning:before { content: "\f071"; }
    &.toast-error:before { content: "\f06a"; }
    &.toast-info:before { content: "\f05a"; }
    &.toast-success:before { content: "\f058"; }
  }
  &.toast-top-custom { top: 112px; right: 12px; }
  .toast { opacity: 1 !important; font-weight: bold; }
  .toast-success { background-color: $base-color; }
  .toast-error { background-color: $red-error; }
}

// Language
@import 'base/lang';

// Auth
@import 'base/auth';

// Navbar
@import 'base/nav';

// Controllers styling
@import 'dog';
@import 'role';
@import 'adoption';

// Ini untuk responsive custom styling
@import 'base/responsives';

body {
  background-image: url('/public/images/ptrn-1.jpg');
}

main {
  min-height: 85vh;
}

footer {
  background-color: $base-color;
  height: 5vh;
}

.main-card,
.form-card {
  border: 1px solid rgba(0, 0, 0, 0.175);
  border-radius: 0.375rem;
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
  margin-bottom: 24px;
  padding: 16px;
  background-color: #fff;
}

.main-card {
  .filter-search {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
  }
}

form {
  .btn-custom-submit {
    background-color: $primary;
    color: #fff;
    height: 3.5rem;
    font-size: 1rem;
    font-weight: bold;

    &:hover {
      background-color: $secondary;
      color: $soft-primary;
    }
  }
}

.form-card {
  h1 {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background: #BD1A8D;
      width: 2rem;
      height: 3px;
      bottom: -0.65rem;
      left: 50%;
      right: 50%;
      transition: 0.3s;
      transform: translateX(-50%);
    }
  }
}

.btn-mps {
  background-color: $primary;
  color: #fff;

  &:hover {
    background-color: $secondary;
    color: $soft-primary;
  }
}

.btn-rescue {
  background-color: $green;
  color: #fff;

  &:hover {
    background-color: $soft-green;
    color: $secondary;
  }
}
